.pv-equipment {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.pv-numpv:hover {
    cursor: pointer;
    background: whitesmoke;
}

.pv-image {
    width: 50%;
    margin-top: 100px;
    margin-left: 250px;
}