<mat-card class="pv-equipment">
    <mat-card-title>Welcome to PartsView</mat-card-title>
    <mat-card-subtitle>Easy access to all your spare parts catalogues <span *ngIf="!activePartsView">, <a [routerLink]="['/login']">please Log-in</a></span></mat-card-subtitle>

    <img *ngIf="!activePartsView" class="pv-image" src={{homeImg}} alt="Photo of equipment">
</mat-card>
<mat-card *ngIf="activePartsView" class="pv-equipment">
    <mat-card-title>EQUIPMENTS</mat-card-title>
    <mat-card-subtitle>List of available equipments</mat-card-subtitle>
    <mat-card-content>
        <h3 *ngFor="let item of myPartsView" class="pv-numpv" (click)="showPartsView(item)">{{item}}</h3>
    </mat-card-content>
</mat-card>