.example-tree-progress-bar {
    margin-left: 30px;
    margin-right: 30px;
}

.mat-tree-node {
    min-height: 20px;
}

.mat-icon {
    color: red;
}

.pv-tree {
    padding-right: 10px;
}

.pv-linknav {
    color: rgb(70, 39, 175);
    cursor: pointer;
}

.pv-found {
    background-color: chartreuse;
}